doctype html
html
    head
    body
        h1 Verify Password for address
        form(action='/addresspassword', method='POST')
            | Enter Password :
            input(type='text', name='password')
            br
            br
            input(type='submit')