div#home.collection
    div.row
        div.col.s8.m8.l8.offset-l3.offset-m2.offset-s2
            h5 Hi Doctor/Pharmacist
    div.row
        div.col.s8.m8.l8.offset-l3.offset-m2.offset-s2
            h3.center Help Us to Spread More
    div.row
        div.col.s8.m6.l4.offset-s2.offset-m3.offset-l5
            .collection(style='background-color: lavender')#home_card.hoverable
                a.black-text(href='/health_care_provider?page=drug_data_form')
                    h4.center Enter DRUG/ DISEASE Information
