doctype html

html

    include login-signup/head

    body

        div

            include partial/header

            //include ../body

            include partial/footer

            //include ./tabs