doctype html
html
    head
    body
        h1 Update Name and Email
        form(action='/updatenameandemail', method='POST')
            | New_Name :
            input(type='text', name='name')
            br
            | Nem_Email:
            input(type='text', name='email')
            br
            br
            input(type='submit')