doctype html
html
    head
    body
        h1 Change Password
        form(action='/updatepassword', method='POST')
            | Old Password :
            input(type='text', name='oldpassword')
            br
            | New Password:
            input(type='text', name='newpassword')
            br
            | Confirm Password:
            input(type='text', name='confpassword')
            br
            br
            input(type='submit')