i{
    color: #4a148c;
}

/*#dropdown1*/
/*{*/
    /*min-width:15%;*/
    /*top: 1000px;*/
    /*left:200%;*/
    /*opacity: 1;*/
/*}*/

#Pcard1
{

    background-color:white;
    /*padding: 2px;*/
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 1px;
    border: inset;
    border-width: 1px;
    border-color: white;
}
#Pname
{
    margin-left: -90px;
}
#person
{
    margin-left: 30px;
}
.P
{
    padding: 0px;
    margin: 0px;
    font-weight: bolder;
    font-size: 22px;
}
.P4{
    margin-top: 2px;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
ul
{
    margin: 0px;
}
#Pcard2
{
    width: 100%;
    background-color: white;
    font-family: "Arabic Typesetting";
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 0px;
    border: inset;
    border-width: 1px;
    border-color: white;
}
.picker_wrap
{
    width: 83%;
    margin-top: 24%;
    margin-left: 31%;
}
#Pcard3
{
    height:120% ;
    width: 120%;
    background-color: white;
    padding: 40px;
    padding-left: 100px;
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    border: inset;
    border-width: 1px;
    border-color: white;
}
.Pspan1
{
    font-family: "cursive";
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    padding-left: 50px;
}
.Pspan1:hover {
    color: red;
}
.Pspan2
{
    padding-left: 20px;
    font-family: "Droid Serif";
    font-size: 30px;
    color: black;
}

body
{
    font-family: "Times New Roman";
    background-color: rgba(102, 128, 116, 0.19);

}
span{
    font-size: 20px;
}
.Pespan
{
    position: absolute;
    right: 10px;
    font-size: 18px;
}
/*search fiels*/
.input
{
    background-color: white;
}
.input1
{
    width: 58%;

}
#input1 {
    background-color:white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    padding-left: 7%;
    margin-left: 2%;
}
#Pphone,#pfirstname,#pemail
{
    font-size: larger;
    color: black;
}

.label1
{
    color: black;
    font-size: 3rem;
    font-weight: bold;
}
#Psearch
{
    background-color: rgba(81, 255, 179, 0.01);
    font-size: 20px;
    color: white;
    height: 50px;
    width: 150%;
    margin-bottom: 0;
    padding-bottom: 0px;
}
#Pbox
{
    width: 32%;
}

.Pformfordetail
{
    margin-left: 1%;

}
#Pdatepicker,#Pweight,#Pheight
{
    width: 50%;
    border-width: 1px;
    font-size: x-large;
}
label
{
    font-size: x-large;
    color:black;
}

.Pheadings,.Pheadings1
{
    padding-left: 150px;
    font-size:30px ;
    color:#660099;
}
label
{
    font-size: 121%;
}
