doctype html
html
    head
    body
        h1 Enter Disease details
        form(action='/disease', method='POST')
            | Disease Name :
            input(type='text', name='disease_name')
            br
            | Risk factor :
            input(type='text', name='risk_factor')
            br
            | Cause :
            input(type='text', name='cause')
            br
            | Diagnosis :
            input(type='text', name='diagnosis')
            br
            | Treatment :
            input(type='text', name='treatment')
            br
            | Outlook :
            input(type='text', name='outlook')
            br
            | Prevention :
            input(type='text', name='prevention')
            br
            br
            input(type='submit', name='submit')
