doctype html
html
    head
    body
        h1 Fill your profile
        form(action='/doctor_details', method='POST')
            | Name :
            input(type='text', name='name')
            br
            | Specialisation :
            input(type='text', name='specialisation')
            br
            | City :
            input(type='text', name='city')
            br
            br
            input(type='submit')