link(rel='stylesheet' href='/js/test.js')

// Popup for Drug Index option in Dropdown menu
div.modal#modal2
        div.modal-content

            h4.center Drug Index
            div.divider
            div.section
                div.input-field.col.s12
                    input(type="text")#brand_name
                    label(for="brand_name") Brand Name

                div.input-field.col.s12
                    input(type="text")#company_name
                    label(for="company_name") Company Name

                div.input-field.col.s12#packaging
                    input(type="text")
                    label(for="packaging") Packaging

                div.input-field.col.s12
                    input(type="text")#strength
                    label(for="strength") Strength

                div.input-field.col.s12
                    input(type="text")#price
                    label(for="price") Price

        div.modal-footer
            a.modal-action.modal-close.waves-effect.btn-flat.purple Submit