doctype html

html

    body
        h4
        table
            tr company_name
                ul
                  each val in data.result
                    li
                      a(href="/go_to_brand?company="+val.company) #{val.company}
