doctype html
html
    head
    body
        h1 Fill your profile
        form(action='/profiles', method='POST')
            h4 Enter General details
            | dob :
            input(type='date', name='dob')
            br
            | gender :
            input(type='radio', name='gender', value='male', checked)
            |Male
            input(type='radio', name='gender', value='female' )
            |Female
            input(type='radio', name='gender', value='other')
            | Other
            br
            | blood_group :
            input(type='text', name='blood_group')
            br
            | marital_status :
            input(type='radio', name='marital_status', value='married', checked)
            | Married
            input(type='radio', name='marital_status', value='unmarried')
            | Unmarried
            br
            | height :
            input(type='text', name='height')
            br
            | weight :
            input(type='text', name='weight')
            br
            h4 Enter full address
            | Address :
            input(type='text', name='address')
            br
            | Landmark :
            input(type='text', name='landmark')
            br
            | Pincode :
            input(type='text', name='pincode')
            br
            | City :
            input(type='text', name='city')
            br
            | State :
            input(type='text', name='state')
            br
            h4 Enter Next details
            | aadhar_number :
            input(type='text', name='aadhaar_number')
            br
            | income :
            select(name='income', size='1')
                option(value='Poor', name='poor') Poor
                |
                option(value='Normal', name='normal') Normal
                |
                option(value='Rich', name='rich') Rich
            br
            | Name :
            input(type='text', name='relative_name')
            br
            | contact :
            input(type='text', name='relative_contact')
            br
            | relation :
            input(type='text', name='relation')
            br
            br
            input(type='submit', name='submit')