doctype html

html

    body
        h4
        table
            tr ingredients_name
                ul
                    each val in data.strength
                        li
                            a(href="/search_molecule?ingredients=" + val.ingredients) #{val.ingredients}
