doctype html
html
    head
    body
        h1 Edit details
        form(action='/updateusersdetails', method='POST')
            | dob :
            input(type='date', name='dob')
            br
            | gender :
            input(type='radio', name='gender', value='male', checked)
            |Male
            input(type='radio', name='gender', value='female' )
            |Female
            input(type='radio', name='gender', value='other')
            | Other
            br
            | blood_group :
            input(type='text', name='blood_group')
            br
            | marital_status :
            input(type='radio', name='marital_status', value='married', checked)
            | Married
            input(type='radio', name='marital_status', value='unmarried')
            | Unmarried
            br
            | height :
            input(type='text', name='height')
            br
            | weight :
            input(type='text', name='weight')
            br
            br
            input(type='submit', name='submit')