doctype html
html
    head
    body
        h1 Verify Password
        form(action='/verifydetailspassword', method='POST')
            | Enter Password :
            input(type='text', name='password')
            br
            br
            input(type='submit')