footer.page-footer.purple.lighten-3
    .container
        .row
            .col.l6.s12
                h5.white-text Company Information
                p.grey-text.text-lighten-4
                ul
                    li
                        a.grey-text.text-lighten-3(href='/') About ApniCare
                    li
                        a.grey-text.text-lighten-3(href='/') Careers
                    li
                        a.grey-text.text-lighten-3(href='/') News & Reports
                    li
                        a.grey-text.text-lighten-3(href='/') FAQs

            .col.l4.offset-l2.s12
                h5.white-text for knowledge updates please subscribe
                    div.input(type="email" value="type ur email")

                        a.modal-action.modal-close.waves-effect.waves-green.btn.green#subscribe Subscribe



            .col.l4.offset-l2.s12
                h5.white-text Connect with Us
                img(src="/images/f.jpg" height="100" width="50")
                img(src="/images/t.png" height="100" width="50")
                img(src="/images/y.jpg" height="100" width="50")
                img(src="/images/g+.jpg" height="100" width="50")
                img(src="/images/in.jpg" height="100" width="50")

            .col.l4.offset-l2.s12
                h5.white-text Drug Categories


    .footer-copyright
        .container
            | © 2014 Copyright Text
            a.grey-text.text-lighten-4.right(href='#!') More Links


