doctype html
html
    head
    body
        h1 Fill your profile
        form(action='/editaddress', method='POST')
            | Address :
            input(type='text', name='address')
            br
            | Landmark :
            input(type='text', name='landmark')
            br
            | Pincode :
            input(type='text', name='pincode')
            br
            | City :
            input(type='text', name='city')
            br
            | State :
            input(type='text', name='state')
            br
            br
            input(type='submit')