div#pass1.col.s12
    p OTP sent to Mobile
        span.badge.btn-flat.right Resend?

    div.input-field.col.s12
        input(type="text")#otp1
        label(for="otp1") Enter OTP
        a(href="#")
            span.right#verify1 Verify OTP
            span.right#Dverify1 Verify OTP
    div.input-field.col.s12
        input.required(type="password")#password3
        label(for="password3") Password
    div.col.s12
        input(type="checkbox")#check3
        label(for="check3") show password
        br
    div.center
        a.waves-effect.waves-green.btn.purple.buttu#againLogin Login
        a.waves-effect.waves-green.btn.purple.buttu#DagainLogin Login
