div.row#forgot
    div.col.s12
        div
            a.waves-effect.btn-flat.small#arrow
                i.material-icons arrow_back
                | Forgot your Password?
        p
        | Please enter your registered Mobile Number to receive a password reset OTP.
        div.input-field.col.s11
            input.required(type="text")#registeredMOB
            label(for="registeredMOB") Registered Mobile Number

        div.center#field
            a.waves-effect.waves-green.btn.teal.buttu#OTPforForgot Continue
            a.waves-effect.waves-green.btn.teal.buttu#DOTPforForgot Continue
        include forForgotPass