doctype html
html
    head
    body
        h1 Enter medicine details
        form(action='/medicine', method='POST')
            | Company :
            input(type='text', name='company_name')
            br
            | Brand :
            input(type='text', name='brand_name')
            br
            | Categories :
            input(type='text', name='categories')
            br
            | Type :
            select(name='types', size='1')
                option(value='Branded', name='branded') Branded
                |
                option(value='Generic', name='generic') Generic
            br
            | primarily Used For :
            input(type='text', name='primarilyusedfor')
            br
            | Dosage_form :
            input(type='text', name='dosage_form')
            br
            | Strength :
            input(type='text', name='strength')
            br
            | Ingredients :
            input(type='text', name='potent_substance')
            br
            | Molecule Strength :
            input(type='text', name='molecule_strength')
            br
            | Packaging :
            input(type='text', name='packaging')
            br
            | Price :
            input(type='text', name='price')
            br
            | Prescription :
            input(type='text', name='prescription ')
            br
            | Dose_taken :
            input(type='text', name='dose_taken')
            br
            | Dose_timing :
            input(type='text', name='dose_timing')
            br
            | Warnings :
            input(type='text', name='warnings')
            br
            br
            input(type='submit', name='submit')
