div.row
    div.col.l4.hide-on-med-and-down#div1
        p
            h3.strong Login
            p
            | Get access to your
            | account
            |
        img.image1(src='/images/black.png')
    div.col.l4.hide-on-med-and-down#div2
        p
            h3.strong Signup
            p
            | We do not share your
            | personal details with
            | anyone.
        img.image1(src='/images/black.png')
    div.col.s12.m8.l8
        div.row#providers
            h5 For HealthCare Provider
        br
        form


            include logContent
            include logContent1
            //br
            include forgotPassword
            br
            br
            div#divider
                div.row.center
                    img.image2(src='/images/black.png')
                    | OR
                    img.image2(src='/images/black.png')
                    br
                    br

        div
            .row
            a.waves-effect.waves-purple.btn.btn-large#Customer
                | User
            a.waves-effect.waves-purple.btn.btn-large#healthCare
                | HealthCare_Provider







