div#pass.col.s12
    p OTP sent to Mobile
        span.badge.btn-flat.right Resend?

    div.input-field.col.s12
        input(type="text")#otp
        label(for="otp") Enter OTP
        a(href="#")
            span.right#verify Verify OTP
            span.right#Dverify Verify OTP
    div.input-field.col.s12
        input.required(type="password" placeholder="numeric")#password1
        label(for="password1") Password
    div.col.s12
        input(type="checkbox")#check1
        label(for="check1") show password
        br
        br


    div.row.center
        a.waves-effect.waves-purple.btn.purple.hoverable.darken-2.buttu#submitButton Signup
        a.waves-effect.waves-purple.btn.purple.hoverable.darken-2.buttu#DsubmitButton Signup


