doctype html

html

    body
        h4
        table
            tr brand_name
                ul
                    each val in data.brands
                        li
                            a(href="/go_to_dosage?brand="+val.brand) #{val.brand}
