//doctype html
//html
    include ./head.pug
        script(src='/js/testtable.js')
        title ApniCare

    body
        a.btn.red#tablebutton Click here for a table

        table.centered#disptable
            thead
                 tr
                     th Name
                     th Mobile No
                     th Password
            tbody

                 tr
                     td #{name}
                     td #{number}
                     td #{password}
