div#Pcard3
    div
        div.row.Pheadings1
            a(href="#") Confidential Information
            a.btn-flat.small.right.black-text#PInfoedit Edit
            br
            br
        form#ConfidentialInfo
            div.row.Pformfordetail
                div.row
                    .input-field.col.s6
                        i.material-icons.prefix fingerprint
                        input.validate#Aadhar(type="text", value=data.aadhaar_number)
                        label(for="Aadhar") Aadhar Number
                        br
                        br
                div.row
                    i.material-icons.prefix attach_money
                    label.strong Income Range
                    select.browser-default#Pbox
                        option.disabled.selected(value=" ")
                        option(value="low") Low < 10,000
                        option(value="normal") Normal 10,000-30,000
                        option(value="high") High > 30,000
                    br
                    br
                div.row
                    a.btn.right#ConfidentialInfoSubmit Submit