div#Pcard3
    div
        div.row.Pheadings1
            a(href="#") Emergency Contact Details
            a.btn-flat.small.right.black-text#PInfoedit Edit
            br
            br
        form#ContactInfo
            div.row.Pformfordetail
                div.row
                    .input-field.col.s6
                        i.material-icons.prefix account_circle
                        input.validate#names(type="text", value=data.relative_name)
                        label(for="names") Name
                        br
                        br
                div.row
                    .input-field.col.s6
                        i.material-icons.prefix group
                        input.validate#relation(type="text" , value=data.relation)
                        label(for="relation") Relation
                        br
                        br

                div.row
                    .input-field.col.s6
                        i.material-icons.prefix phone
                        input.validate#Pphone(type="tel" , value=data.relative_contact)
                        label(for="Pphone") Mobile Number
                        br
                        br

                div.row
                    a.btn.right#EmergencyContactSubmit Submit