div
    div.row#row4
        img.center(src="/images/az.png" height="300px")

div
    div.row#row5
        div.col.s4#column1
            //i.material-icons.large report
            p.thicker Drug Information
        div.col.s4#column2
            //i.material-icons.large people
            p.thicker Disease Information
        div.col.s4#column3
            //i.material-icons.large donut_small
            p.thicker Molecule/Potent Substance Information
div
    div.row#row6
        div.col.s12
            p Find A Doctor
