div#log.row
    div#login.col.s12
        div.input-field.col.s12(style={padding: "0px",margin:"0px",background:"white"})
            input.required(type="text")#number2
            label(for="number2") Number
        div.input-field.col.s12
            input(type="password")#password2
            label.required(for="password2") Password
            a(href="#")
                span.right#forgotButton Forgot?
        div.col.s12
            input(type="checkbox")#check2
            label(for="check2") show password
            br
            br

        div.row.center
            a.waves-effect.waves-purple.btn.hoverable.mediumpurple#loginButton1(style={width:"80%"}) Login
            a.waves-effect.waves-purple.btn.hoverable.mediumpurple#DloginButton1(style={width:"80%"}) Login
            br
            br
            a.waves-effect.waves-purple.hoverable.btn#NewtoApnicare(style={width:"80%"})
                | New to ApniCare?Sign Up







