.preloader-wrapper.small.active#preloader
    .spinner-layer.spinner-blue-only
        .circle-clipper.left
            .circle
        .gap-patch
            .circle
        .circle-clipper.right
            .circle
